@font-face {
    src: url("../../fonts/FreeMonoBold.ttf");
}

.root {
    -fx-font-family: "FreeMono";
    -fx-font-size: 14px;
}
* {
    -fx-color-background:#eee;
    -fx-color-border:#777;


    -fx-color-selected: #ffde66;
    -fx-color-pressed: #ffde66;
    -fx-color-hover: rgba(255, 205, 0, 0.32);

    -fx-color-selected-built-in: #c4ff6e;
    -fx-color-pressed-built-in: #bfff7b;
    -fx-color-hover-built-in: #dcf5c6;
}



#new-script-button {
    -fx-background-image: url("../../images/document.png");
}

#open-script-button {
    -fx-background-image: url("../../images/folder.png");
}

#save-script-button {
    -fx-background-image: url("../../images/save.png");
}

#save-as-script-button {
    -fx-background-image: url("../../images/saveAs.png");
}

#run-script-button {
    -fx-background-image: url("../../images/play.png");
}

#stop-script-button {
    -fx-background-image: url("../../images/stop.png");
}

#server-button {
    -fx-background-image: url("../../images/server.png");
}

#config-button {
    -fx-background-image: url("../../images/config.png");
}

#info-button {
    -fx-background-image: url("../../images/info.png");
}

#help-button {
    -fx-background-image: url("../../images/help.png");
}


/*Menu buttons*/
#menu-keyboard-button {
    -fx-background-image: url("/images/keyboard.png");
}

#menu-mouse-button {
    -fx-background-image: url("/images/mouse.png");
}

.menu-button {
    -fx-graphic: url("/images/mouse.png")
}

.menu-button-item > .label {
    -fx-graphic: url("/images/mouse.png")
}

.script-button {
    -fx-alignment: bottom_center;
    -fx-font-size: 12px;

    -fx-background-radius: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center 8px;
    -fx-background-size: 26px;

    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-min-width: 65;
    -fx-max-width: 65;
    -fx-padding: 0;
}

.gray-element {
    -fx-background-color: #dddddd;
}

.gray-element:hover {
    -fx-background-color: #cccccc;
}

.gray-element:pressed {
    -fx-background-color: -fx-color-selected;
}

.menu-bar {
    -fx-background-color: #eaeaea;
    -fx-border-color: #aaaaaa;
    -fx-border-width: 0 0 1 0;
}

.menu-bar .label {
    -fx-text-fill: #444444;
}

.menu-item {
    -fx-background-color: #dddddd;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-min-width: 55;
    -fx-max-width: 45;
}

.menu:hover {
    -fx-background-color: #cccccc;
}

.menu:pressed {
    -fx-background-color: #FFCC5F;
}

/*Hint area*/

#hint-text-area{
    -fx-max-width: 350;
    -fx-min-width: 350;
}

/*text area */
.code-text-area {
    -fx-text-fill: #666;
    -fx-font-size: 14px;
    -fx-font-family: "FreeMono";

    -fx-highlight-fill: #ffdd7F;
    -fx-highlight-text-fill: #777;

}

.code-text-area:focused {
    -fx-text-fill: #444;

    -fx-highlight-fill: #FFCC5F;
    -fx-highlight-text-fill: #333;

    -fx-focus-color: #777;

}

.code-text-area:disabled {
    -fx-opacity: 1;
    -fx-text-fill: #111;

}

.code-text-area > .scroll-pane:disabled {
    -fx-opacity: 1;
}

.code-text-area:readonly .content {
    -fx-background-color: #eee;
    -fx-display-caret: true;
}

/*Paste code buttons */
.paste-code-button {

    -fx-min-height: 70;
    -fx-max-height: 70;
    -fx-max-width: 300;

    -fx-padding: 2 0 0 0;

    -fx-background-radius: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 3 2;
    -fx-background-size: 16px;
    -fx-background-color: #dddddd;

    -fx-border-width: 0 1 1 1;
    -fx-border-color: #bbb;
}

.paste-code-button-label {
    -fx-alignment: left;
}

.paste-code-button:selected {
    -fx-background-color: #FFCC5F;
    -fx-border-color: #FFCC5F;
}

.keyboard-paste-code-button {
    -fx-background-image: url("/images/keyboard.png");
}

.mouse-paste-code-button {
    -fx-background-image: url("/images/mouse.png");
}

/*right pane*/
#insertCodePane {
    -fx-max-width: 250;
}

.rootAccordion {
    -fx-background-color: #fff;
}

.rootAccordion > .titled-pane > .title {
    -fx-border-width: 0 0 1 0;
    -fx-border-color:  #999;
}

.childAccordion {
    -fx-background-color:#fff;
    -fx-border-width: 0;
}

.childAccordion > .titled-pane > .title {
    -fx-padding: 5 10 5 20; /* 0 3 0 0 */
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #999;
}

.insert-code-titled-pane {
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.insert-code-titled-pane > *.content {
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.insert-code-titled-pane > .title {
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 5 10 5 10; /* 2 10 3 10 */

}

.templateButton {
    -fx-alignment: center-left;
    -fx-background-radius: 0;
    -fx-background-color: #fff;
    -fx-max-height: 26;
    -fx-min-height: 26;
    -fx-max-width: infinity;
}

.templateButton:hover {
    -fx-background-color: -fx-color-hover;
}

.templateButton:pressed {
    -fx-background-color: -fx-color-pressed;
}

.templateButton:selected {
    -fx-background-color: -fx-color-selected;
}



/* Combined toggles*/

.combined-label{
    -fx-alignment: center;
    -fx-max-width: infinity;
}

.combined-toggle{
    -fx-alignment: center-left;
    -fx-background-radius: 0;
    -fx-background-color: #fff;
    -fx-max-width: infinity;
}


.combined-toggle:hover {
    -fx-background-color: -fx-color-hover;
}

.combined-toggle:pressed {
    -fx-background-color: -fx-color-pressed;
}

.combined-toggle:selected {
    -fx-background-color: -fx-color-selected;
}
.combined-toggle > .label{
    -fx-padding: 5 10 5 10;

}

.built-in-toggle{
    -fx-background-color: #eee;
    -fx-max-width: infinity;
    -fx-alignment: center-left;
    -fx-background-radius: 0;
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #ccc;
}
.built-in-toggle:hover{
    -fx-background-color: -fx-color-hover-built-in;
}
.built-in-toggle:pressed{
    -fx-background-color: -fx-color-pressed-built-in;
}
.built-in-toggle:selected{
    -fx-background-color: -fx-color-selected-built-in;
}

.built-in-text-edit{
    -fx-background-color: #fff;
    -fx-max-width: infinity;
    -fx-border-width: 1 1 0 1;
    -fx-border-color: #ccc;
}