

#root-pane{
    -fx-padding: 10;
}

.header-label{
    -fx-padding: 20 5 0 5;
}

.common-label{
    -fx-padding: 3 5 3 5;
    -fx-max-width: infinity;
    -fx-background-color: #e9e9e9;
    -fx-background-insets: 1 10 1 1;
}

.hotkeys-txt{
    -fx-padding: 2 0 2 5;
    -fx-min-width: 200;
    -fx-max-width: 200;
}

.separator{
    -fx-background-color: white;
}

.separator *.line{
    -fx-border-style: solid;
    -fx-border-width: 1px;
}